{
  "development": {
    "username": "{{ appname }}",
    "password": "{{ appname }}",
    "database": "{{ appname }}_development",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "test": {
    "username": "{{ appname }}",
    "password": "{{ appname }}",
    "database": "{{ appname }}_test",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "{{ appname }}",
    "password": "{{ lookup('env', 'PROD_DB_PASSWORD') }}",
    "database": "{{ appname }}_production",
    "host": "{{ lookup('env', 'PROD_DB_HOST', '127.0.0.1') }}",
    "dialect": "postgres"
  }
}
